/* Main CSS */
body {
 background-image: url(../images/background.png); 
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Global styles */
h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

img {
  max-width: 100%; 
}

/* Navigation */
.navbar {
  margin-top: 20px;
  border: 0px none;
}

@media (max-width: 992px){ 
  .navbar-nav > li > a {
    color: #091457;
    background-color: white;
    border-left: 3px solid; 
  }
   
  .navbar-nav > li:nth-child(1) > a {
  border-left-color: #e02222;    
  }
  
  .navbar-nav > li:nth-child(2) > a {
    border-left-color:#c2067d;
  }
  
  .navbar-nav > li:nth-child(3) > a {
    border-left-color: #2a72b0;
  }
  
  .navbar-nav > li:nth-child(4) > a {
    border-left-color: #56e61e;
  }
  
  .navbar-nav > li:nth-child(5) > a {
    border-left-color: #f2e200;
  }
  
  .navbar-nav > li:nth-child(6) > a {
    border-left-color: #e8611e;
  }
  
  .navbar-nav > li:nth-child(7) > a {
    border-left-color:rgba(84,0,66,1);
  }
  
  .navbar-nav > li:nth-child(8) > a {
    border-left-color: #e02222;    
  }
}

@media (min-width: 992px){ 
  .navbar-nav > li > a {
    background-color: white;
    transition: all 0.3s;
    border-top: 3px solid;
    border-bottom: 3px solid white;
    padding: 5px;
    margin-right: 8px;
    color: #091457;   
  }
  
  .navbar-right > li:last-child {
    margin-right: 0px; 
  }
  
  .navbar-nav > li:nth-child(1) > a {
    border-top-color: #e02222;
  }
  
  .navbar-nav > li:nth-child(2) > a {
    border-top-color:#c2067d;
  }
  
  .navbar-nav > li:nth-child(3) > a {
    border-top-color: #2a72b0;
  }
  
  .navbar-nav > li:nth-child(4) > a {
    border-top-color: #56e61e;
  }
  
  .navbar-nav > li:nth-child(5) > a {
    border-top-color: #f2e200;
  }
  
  .navbar-nav > li:nth-child(6) > a {
    border-top-color: #e8611e;
  }
  
  .navbar-nav > li:nth-child(7) > a {
    border-top-color:rgba(84,0,66,1);
  }
}

@media (min-width: 992px){ 
  .navbar-nav > li > a:focus,
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:active {    
    color: white;
    border-bottom: 3px solid;
  }
    
  .navbar-nav > li:nth-child(1) > a:focus,
  .navbar-nav > li:nth-child(1) > a:hover,
  .navbar-nav > li:nth-child(1) > a:active {    
    background-color: #e02222;
    border-color: #e02222;
  }
    
  .navbar-nav > li:nth-child(2) > a:focus,
  .navbar-nav > li:nth-child(2) > a:hover,
  .navbar-nav > li:nth-child(2) > a:active {    
    background-color: #c2067d;
    border-color: #c2067d;  
  }
    
  .navbar-nav > li:nth-child(3) > a:focus,
  .navbar-nav > li:nth-child(3) > a:hover,
  .navbar-nav > li:nth-child(3) > a:active {   
    background-color: #2a72b0;
    border-color: #2a72b0;  
  }
    
  .navbar-nav > li:nth-child(4) > a:focus,
  .navbar-nav > li:nth-child(4) > a:hover,
  .navbar-nav > li:nth-child(4) > a:active {  
    background-color: #56e61e;
    border-color: #56e61e;   
  }
    
  .navbar-nav > li:nth-child(5) > a:focus,
  .navbar-nav > li:nth-child(5) > a:hover,
  .navbar-nav > li:nth-child(5) > a:active {    
    background-color: #f2e200; 
    border-color: #f2e200; 
  }
    
  .navbar-nav > li:nth-child(6) > a:focus,
  .navbar-nav > li:nth-child(6) > a:hover,
  .navbar-nav > li:nth-child(6) > a:active {   
    background-color: #e8611e;
    border-color: #e8611e;  
  }
    
  .navbar-nav > li:nth-child(7) > a:focus,
  .navbar-nav > li:nth-child(7) > a:hover,
  .navbar-nav > li:nth-child(7) > a:active {   
    background-color: rgba(84,0,66,1);
    border-color: rgba(84,0,66,1);   
  }
}

@media (max-width: 992px){ 
  .navbar-nav > li > a:focus,
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:active {    
    color: white;
    border-left: 3px solid;
  }
    
  .navbar-nav > li:nth-child(1) > a:focus,
  .navbar-nav > li:nth-child(1) > a:hover,
  .navbar-nav > li:nth-child(1) > a:active {    
    background-color: #e02222;
    border-color: #e02222;
  }
    
  .navbar-nav > li:nth-child(2) > a:focus,
  .navbar-nav > li:nth-child(2) > a:hover,
  .navbar-nav > li:nth-child(2) > a:active {    
    background-color: #c2067d;
    border-color: #c2067d;  
  }
    
  .navbar-nav > li:nth-child(3) > a:focus,
  .navbar-nav > li:nth-child(3) > a:hover,
  .navbar-nav > li:nth-child(3) > a:active {   
    background-color: #2a72b0;
    border-color: #2a72b0;  
  }
    
  .navbar-nav > li:nth-child(4) > a:focus,
  .navbar-nav > li:nth-child(4) > a:hover,
  .navbar-nav > li:nth-child(4) > a:active {  
    background-color: #56e61e;
    border-color: #56e61e;   
  }
    
  .navbar-nav > li:nth-child(5) > a:focus,
  .navbar-nav > li:nth-child(5) > a:hover,
  .navbar-nav > li:nth-child(5) > a:active {    
    background-color: #f2e200; 
    border-color: #f2e200; 
  }
    
  .navbar-nav > li:nth-child(6) > a:focus,
  .navbar-nav > li:nth-child(6) > a:hover,
  .navbar-nav > li:nth-child(6) > a:active {   
    background-color: #e8611e;
    border-color: #e8611e;  
  }
    
  .navbar-nav > li:nth-child(7) > a:focus,
  .navbar-nav > li:nth-child(7) > a:hover,
  .navbar-nav > li:nth-child(7) > a:active {   
    background-color: rgba(84,0,66,1);
    border-color: rgba(84,0,66,1);   
  }
}


@media (min-width: 768px) {  
  a.navbar-brand {
    display: inline-block;
  }
  
  .navbar .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* Collapsed Navigation */
@media (max-width: 992px) {
  .navbar-nav {
    float: none !important;
    margin: 0px -15px;
    background-color: #091457;
  }

  .navbar-header {
    background-color: #091457;
  }
  
  a.navbar-brand {
    outline: 0px none;
    color: #FFF;
  }
  
  .navbar-toggle .icon-bar {
    background-color: #FFF;
  }
}

/* Container */
.container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #FFF;
}

@media (min-width: 768px) { 
  .container {
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 5px #333;
  }
}

/* News letter */

.news {
  margin: auto;
}

.panel-default {
  border: 2px solid white;
  border-radius: 0px; 
}

.panel-default > .panel-heading {
  background-color: rgba(10, 21, 87, 1);
  color: white;
  border-radius: 0px; 
  background-image: url(../images/bg1.png);
}

.panel-body {
  color: #091457;
  background-image: url(../images/bg1.png); 
}

/* Slideshow */

.owl-prev {
  position: absolute;
  top: 40%;
  left: 0;  
}

.owl-next {
  position: absolute;
  top: 40%;
  right: 0;  
}

.owl-theme .owl-controls .owl-page > span {
  background-color: #091457;
}


/* Home page */
.sports-item {
  margin-bottom: 30px;
} 

.sport-title {
  position: relative;
  color: white;
  background-color: #091457;
  background-image: url(../images/bg1.png);
  padding: 10px;   
  margin-bottom: 20px;
}

.sport-title:after { 
  position: absolute;
  border-left: 7px solid rgba(0, 0, 0, 0);
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-top: 7px solid  #091457;
  bottom: -7px;
  content: " ";
  left: 40px;
  margin-left: -5px;
}

@media (min-width: 768px) { 
  .sport-tittle h2:after {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-top: 7px solid rgba(84,0,66,1);
    bottom: -7px;
    content: " ";
    left: 40px;
    margin-left: -5px;
    padding-bottom: 25px;
  } 
   .sport-tittle h1:after {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-top: 7px solid rgba(84,0,66,1);
    bottom: -7px;
    content: " ";
    left: 40px;
    margin-left: -5px;
    padding-bottom: 25px;
  } 
}

.sport-tittle h3 {
  color: white;
  background-color: rgba(246,94,19,0.80);
  background-image: url(../images/bg1.png);
  padding: 15px;   
  margin-bottom: 25px;
}

.sport-tittle h3:after { 
  position: absolute;
  width: 0;
  height: 0;
  border-left: 7px solid rgba(0, 0, 0, 0);
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-top: 7px solid rgba(246,94,19,0.80);
  bottom: -7px;
  content: " ";
  left: 40px;
  margin-left: -5px;
}

@media (min-width: 768px) { 
  .sport-tittle h3:after {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-top: 7px solid rgba(246,94,19,0.80);
    bottom: -7px;
    content: " ";
    left: 40px;
    margin-left: -5px;
    padding-bottom: 25px;
  } 
}

.sports-item div {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  max-width: 360px;
  height: 190px;
}

.sports-item h3 {
  position: absolute;
  display: block;
  margin: 0px;
  padding: 10px;
  width: 100%;
  text-align: right;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.sports-item:nth-child(4n+1) h3,
.sports-item:nth-child(5n+1) h3,
.sports-item:nth-child(6n+1) h3 {
  text-align: left; 
}

.sports-item a {
  color: #FFF;
}

.sports-item a:hover,
.sports-item a:focus {
  color: red;
}

.sports-item img {
  z-index: 1; 
}

.item-inner:before {
  position: absolute;
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
  content: " ";
  background-image: url(../images/bg1.png);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 50;
}
  
.item-inner:after {
  position: absolute;
  width: 200px;
  height: 200px;
  right: -100px;
  top: -100px;  
  content: " ";
  background-image: url(../images/bg1.png);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 50;
}

.sports-item:nth-child(4n+1) .item-inner:before {
  bottom: auto;
  top: -100px;
}

.sports-item:nth-child(5n+1) .item-inner:before {
  bottom: auto;
  top: -100px;
}

.sports-item:nth-child(6n+1) .item-inner:before {
  bottom: auto;
  top: -100px;
  
}

.sports-item:nth-child(4n+1) .item-inner:after {
 bottom: -100px;
 top: auto;
}

.sports-item:nth-child(5n+1) .item-inner:after {
 bottom: -100px;
 top: auto;
}
 
.sports-item:nth-child(6n+1) .item-inner:after {  
 bottom: -100px;
 top: auto;
 
}

.sport.taebo-1 .sport-title {
  background-color: #e02222;
}

.sport.taebo-1 .sport-title:after {
  border-top: 7px solid #e02222;
}

.sport.pilakalajoga-1 .sport-title {
  background-color: #c2067d;
}

.sport.pilakalajoga-1 .sport-title:after {
  border-top: 7px solid #c2067d;
}

.sport.kick-box-1 .sport-title {
  background-color: #2a72b0;
}

.sport.kick-box-1 .sport-title:after {
  border-top: 7px solid #2a72b0;
}

.sport.iron-body-1 .sport-title {
  background-color: #56e61e;
}

.sport.iron-body-1 .sport-title:after {
  border-top: 7px solid #56e61e;
}

.sport.trampoliny-1 .sport-title {
  background-color: #f2e200;
}

.sport.trampoliny-1 .sport-title:after {
  border-top: 7px solid #f2e200;
}

.sport.pole-dance .sport-title {
  background-color: #e8611e;
}

.sport.pole-dance .sport-title:after {
  border-top: 7px solid #e8611e;
}

.item-inner.taebo:before,
.item-inner.taebo:after,
.sports-item.taebo a:hover,
.sports-item.taebo a:focus {
  background-color: #e02222;
  color: #e02222;
}

.sport.pilakajoga .sport-title ,
.item-inner.pilakajoga:before,
.item-inner.pilakajoga:after,
.sports-item.pilakajoga a:hover,
.sports-item.pilakajoga a:focus {
  background-color: #c2067d;
  color: #c2067d;
}

.item-inner.kick-box:before,
.item-inner.kick-box:after,
.sports-item.kick-box a:hover,
.sports-item.kick-box a:focus {
  background-color: #2a72b0;
  color: #2a72b0;
}

.item-inner.iron-body:before,
.item-inner.iron-body:after,
.sports-item.iron-body a:hover,
.sports-item.iron-body a:focus {
  background-color: #56e61e;
  color: #56e61e;
}

.item-inner.trampoliny:before,
.item-inner.trampoliny:after,
.sports-item.trampoliny a:hover,
.sports-item.trampoliny a:focus {
  background-color: #f2e200;
  color: #f2e200;
}

.item-inner.pole-dance:before,
.item-inner.pole-dance:after,
.sports-item.pole-dance a:hover,
.sports-item.pole-dance a:focus {
  background-color: #e8611e;
  color: #e8611e;
}

@media (max-width: 767px) {
  .thumbnail {
    margin: 0 auto;
    max-width: 190px;
  }
}
